<h2 class=" md:mx-auto px-6 py-3 text-left text-lg font-medium text-gray-500 uppercase tracking-wider">
              Editar usuario
            </h2>

<%= render "form", user: @user %>
<button class="  md:mx-auto px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
    <%= link_to 'Volver', users_path %>
</button>
