
    <section class="bg-gray-100 dark:bg-gray-900 lg:py-12 lg:flex lg:justify-center">
        <div class="bg-white dark:bg-gray-800 lg:mx-8 lg:flex lg:max-w-5xl lg:shadow-lg lg:rounded-lg">
            <div class="lg:w-1/2">
                <div class="h-64 bg-cover lg:rounded-lg lg:h-full" style="background-image:url('https://biomedicalodyssey.blogs.hopkinsmedicine.org/files/2020/02/programming-code-window-GettyImages-1124838925_640.jpg')"></div>
            </div>

            <div class="py-12 px-6 max-w-xl lg:max-w-5xl lg:w-1/2">
                <h2 class="text-2xl text-gray-800 dark:text-white font-bold md:text-3xl">Escribí tu primera <span class="text-indigo-600 dark:text-indigo-400">nota.</span></h2>
                <p class="mt-4 text-gray-600 dark:text-gray-400">A través de nuestro sofisticado sistema, pruebe en escribir sus notas personales, apuntes de clase , o cachos de código! 📝 </p>
                
                <div class="mt-8">
                     <a>
                        <%= link_to "Pruebe ahora! 🚀", 
                                        users_path, 
                        :class => "bg-gray-900 text-gray-100 px-5 py-3 font-semibold rounded hover:bg-gray-800" %> 
                   </a>
                </div>
            </div>
        </div>
    </section> 